<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fit4you_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 기기에 카메라가 있는지 확인할 수 있음. '.any'를 지정하면 전면 또는 후면 카메라가 될 수 있음. -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".Fit4YouApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_fit4you"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fit4YouAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.start.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.start.SelfActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.start.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.TodayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.record.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.recommend.RecommendActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.basicstatuscheck.BaseBasicQuestionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.login.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="false" />
    </application>
</manifest>