<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_fit4you"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fit4YouAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.today.start.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.start.SelfActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.start.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.today.TodayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.record.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.recommend.RecommendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.basicstatuscheck.BasePoseTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.basicstatuscheck.BaseBasicQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.userphysical.UserPhysicalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>